* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: 300;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  color: white;
  font-weight: 300;
  background: rgba(255, 166, 0, 0.74);
  width: 100%;
  height: 100%;
  /* background-image: url("https://www.transparenttextures.com/patterns/food.png"); */
}

.heading {
  text-align: center;
  font-size: 2em;
  color: #2d3436;
  margin: 20px 0 30px;
}
.autocomplete-dropdown-container
{
  outline: none;
  position:relative;
   margin: 0 auto;
   width: 15em; 
   line-height: 3; 
   border-radius: .25em; 
 padding-bottom:10px; 
                  
 
}


.notify {
  text-align: center;
  text-shadow: 2px 2px black;
  font-family: "Montserrat", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: bold;
  color:skyblue;
}



.text{
  width: 300px;
  height: 200px;
  margin-top: 100px;
  text-align: center;
  position: absolute;
  left: 50%;
  margin-left: -150px;
  background-image: -webkit-linear-gradient(left,blue,#66ffff 10%,#cc00ff 20%,#CC00CC 30%, #CCCCFF 40%, #00FFFF 50%,#CCCCFF 60%,#CC00CC 70%,#CC00FF 80%,#66FFFF 90%,blue 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-background-size: 200% 100%; 
  -webkit-animation: masked-animation 4s linear infinite;
  font-size: 35px;
}
@keyframes masked-animation {
  0% {
      background-position: 0  0;
  }
  100% {
      background-position: -100%  0;
  }
}


.loc-image {
  overflow: hidden;
  width:1250px;
  height:300px;
  margin: 0 auto; 
  /* border: 6px solid black; 
  border-radius: 0.6rem;  */
 
}
.img-list {
  margin: 0 auto;
  width:1276px;
  text-align: center;
}

.img-list .mid {
  float: left;
  margin: 5px;
}

.img-list .mid img {
  width:300px;
  height: 300px;
}

.container {
  margin: 0 auto;
  padding: 80px 0;
  text-align: center;
  
}

.container h1 {
  font-size: 40px;
  font-weight: 200;
  text-transform:uppercase;
  text-shadow: 2px 2px black;
  font-family: "Montserrat", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: bold;
  color:skyblue;
  
}

.jumbotron {
  padding: 1rem 3rem;
  margin-bottom: 0;
  margin-top: 0;
  background-color: #f7f7f9;
  border-radius: 0.6rem;
  
}

.jumbotron h1 {
  margin-bottom: 0.5rem;
  text-shadow: 2px 2px black;
  font-family: "Montserrat", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: 500;
  line-height: 1.2;
  color: skyblue;
}

.jumbotron p {
  color: orange;
}

.display-3 {
  font-size: 4.5rem;
  font-weight: 300;
  line-height: 1.2;
}

.lead {
  font-size: 1.25rem;
  font-weight: 300;
}

nav{
  float: left;
  width:100%;
  height:40px;
  background: skyblue;
  margin: 0 auto;
  padding: 0 ;
  position: fixed;
  top:"0";
  left:"0";
  z-index: 10;
}

nav ul {
  float:left;
  margin: 0px;
  padding: 0 0 0 0;
  width: 920px;
  list-style: none;
}
nav ul li {
  display: inline;
}

  
nav ul li a {
  float: left;
  padding: 11px 20px; 
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  background:skyblue      center right no-repeat;
  color: #fff;    
  font-family: Tahoma;
  outline: none;
}
nav li a:hover {
  color: #50a3a2;
}



input {
  border: 1px solid rgba(252, 252, 252, 0.4);
  background-color: rgba(252, 252, 252, 0.2);
  width: 250px;
  border-radius: 3px;
  font-family: "Source Sans Pro", sans-serif;
  padding: 10px 15px;
  margin: 0 auto 10px auto;
  display: block;
  text-align: center;
  font-size: 18px;
  color: black;
  font-weight: 300;
}

button {
  appearance: none;
  outline: 0;
  background-color: white;
  border: 0;
  padding: 10px 15px;
  color: black;
  border-radius: 3px;
  width: 250px;
  font-size: 18px;
}
::-webkit-scrollbar
{
  width:12px
}
::-webkit-scrollbar-track
{
  background:grey;
}
::-webkit-scrollbar-thumb
{
  background-color: lightblue;
  
}

.card {
  width:600px;
  margin:120px auto;
  background-color:white;
  box-shadow:0 5px 20px #999;
  text-align: center;
}
.card a {
  color:#333;
  text-decoration:none;
}
.card:hover .card-image img {
  width:160%;
  filter:grayscale(0);
}

.card-image {
  height:250px;
  position:relative;
  overflow:hidden;
}
.card-image img {
  width:150%;
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
  filter:grayscale(1);
  transition-property:filter width;
  transition-duration:.3s;
  transition-timing-function:ease;
}
.card-body {
 text-align:center;
 padding: 15px 20px;

}


.card-date {
  text-align:center;
  font-family: 'Source Sans Pro', sans-serif;
  color: #50a3a2;
 
}

.title {
  color:#50a3a2;
  font-family: 'Playfair Display', serif;
  text-align:center;
  text-transform:uppercase;
  font-weight: bold;
}

.more {
  font-family: 'Playfair Display', serif;
  color:#50a3a2;
}

.primary-btn {
  background-color:#50a3a2;
  color:white;
  width: 100px;
  height: 40px;
  border:0;
  font-size: 16px;			
  border-radius: 30px;
  margin: 10px;
}

.review {
  background-color:#50a3a2;
  color:white;
  border-radius: 0.6rem;
  margin: 6px;
}

.info {
  position: relative;
  top: 400px;
  left: 0;
 
}

.restaurant-btn {
  text-align: center;
}

.menu {
  display:inline-block;
  text-align: center;
  text-decoration: none;
  padding-top: 8px;
  background-color:#50a3a2;
  color:white;
  width: 100px;
  height: 40px;
  border:0;
  font-size: 18px;			
  border-radius: 30px;
  font-family: 'Playfair Display', serif;
}

.review-btn {
  display: inline-block;
}

.combo { 

  border: 1px solid rgba(252, 252, 252, 0.4);
  background-color: rgba(252, 252, 252, 0.2);
  width: 200px;
  border-radius: 3px;
  font-family: "Source Sans Pro", sans-serif;
  margin: 0 auto 30px auto;
  text-align: center;
  font-size: 18px;
  color: black;
  font-weight: 300;
  overflow: hidden; 
  padding: 0; 
  display: inline-block; 
  white-space: nowrap; 
  vertical-align: middle; 
  } 
 
  .combo .combo-text { 
   font-size: 18px; 
   border: 0px; 
   line-height: 40px; 
   height: 40px;  
   margin: 0; 
   padding: 0px 2px; 
   vertical-align: baseline; 
 } 

